In [39]:
import pandas as pd
import numpy as np

In [40]:
df_airbnb = pd.read_csv("./raw_data/airbnb_tp.csv")

In [41]:
df_airbnb

,listing_id,name,price,latitude,longitude,accommodates,bathrooms,bedrooms,num_beds,rating_accuracy,rating_cleanliness,rating_communication,rating_location,rating_value,review_score_average,price_per_person,amenities_count
0,281552,Harvard Sq Large 1BR overlooks park,175,42.377119,-71.120112,3.0,1.0,1.0,2.0,5.0,4.5,4.5,5.0,5.0,4.800000,58.333333,9
1,182613,Luxury 2BR condo Charlestown Boston,249,42.377387,-71.060435,8.0,1.0,2.0,3.0,5.0,5.0,5.0,4.0,4.5,4.700000,31.125000,11
2,1587540,Cozy House on Bunker Hill in Boston,225,42.378898,-71.061182,4.0,1.5,3.0,3.0,5.0,5.0,5.0,5.0,5.0,5.000000,56.250000,8
3,469506,"Luxury 1bd, Safe/Central Brookline",140,42.338848,-71.135475,2.0,1.0,1.0,1.0,5.0,5.0,4.5,4.5,4.5,4.700000,70.000000,12
4,3937268,Boston bedroom & private bathroom,99,42.343206,-71.119955,2.0,1.0,1.0,1.0,4.5,5.0,5.0,5.0,5.0,4.900000,49.500000,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014,3655519,Bright 2BR apartment in JP,150,42.317354,-71.110006,4.0,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,4.694469,37.500000,13
2015,3167027,Roslindale Village,40,42.285124,-71.118640,2.0,1.0,1.0,1.0,5.0,5.0,5.0,4.0,5.0,4.800000,20.000000,8
2016,2842124,Charming 1-bedroom in the North End,200,42.363782,-71.055643,3.0,1.0,1.0,2.0,4.5,4.5,5.0,5.0,4.5,4.700000,66.666667,9
2017,3003335,Cozy 1st floor room near laundry,100,42.360982,-71.064038,1.0,NaN,1.0,1.0,4.5,4.5,5.0,5.0,4.5,4.700000,100.000000,8
2018,2935171,Furnished double room wit 2 beds.,125,42.311369,-71.049060,3.0,1.0,1.0,2.0,5.0,5.0,5.0,4.5,5.0,4.900000,41.666667,12

In [29]:
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2019 entries, 0 to 2018
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   listing_id            2019 non-null   int64
 1   name                  2019 non-null   object
 2   price                 2019 non-null   int64
 3   latitude              2019 non-null   float64
 4   longitude             2019 non-null   float64
 5   accommodates          2019 non-null   float64
 6   bathrooms             1979 non-null   float64
 7   bedrooms              2015 non-null   float64
 8   num_beds              2016 non-null   float64
 9   rating_accuracy       1356 non-null   float64
 10  rating_cleanliness    1356 non-null   float64
 11  rating_communication  1356 non-null   float64
 12  rating_location       1356 non-null   float64
 13  rating_value          1356 non-null   float64
 14  review_score_average  2019 non-null   float64
 15  price_per_person      2019 non-null   float64
 16  amenities_count       2019 non-null   int64
dtypes: float64(13), int64(3), object(1)
memory usage: 268.3+ KB

In [30]:
df_airbnb.describe()

,listing_id,price,latitude,longitude,accommodates,bathrooms,bedrooms,num_beds,rating_accuracy,rating_cleanliness,rating_communication,rating_location,rating_value,review_score_average,price_per_person,amenities_count
count,2.019000e+03,2019.000000,2019.000000,2019.000000,2019.000000,1979.000000,2015.000000,2016.000000,1356.000000,1356.000000,1356.000000,1356.000000,1356.000000,2019.000000,2019.000000,2019.000000
mean,2.567601e+06,140.734027,42.365811,-71.108438,2.784547,1.188732,1.248139,1.521329,4.733407,4.626106,4.851032,4.679941,4.581858,4.694469,56.001037,10.762259
std,1.446989e+06,111.560621,0.027152,0.036493,1.641158,0.517519,0.693970,0.933810,0.362827,0.442599,0.274243,0.345337,0.367412,0.218460,51.963563,3.826249
min,2.751000e+03,10.000000,42.243495,-71.355964,1.000000,0.000000,0.000000,1.000000,3.000000,2.500000,3.000000,3.500000,3.000000,3.400000,2.500000,0.000000
25%,1.307146e+06,75.000000,42.350188,-71.125436,2.000000,1.000000,1.000000,1.000000,4.500000,4.500000,4.500000,4.500000,4.500000,4.694469,35.250000,8.000000
50%,2.737083e+06,110.000000,42.367841,-71.107905,2.000000,1.000000,1.000000,1.000000,5.000000,4.500000,5.000000,4.500000,4.500000,4.694469,48.000000,11.000000
75%,3.909752e+06,175.000000,42.381364,-71.089378,4.000000,1.000000,1.000000,2.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.800000,65.500000,13.000000
max,4.637854e+06,2000.000000,42.486433,-70.967355,12.000000,6.500000,6.000000,9.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1000.000000,23.000000

In [38]:
df_airbnb["accommodates"].where(df_airbnb["bathrooms"].isna(), df_airbnb["bathrooms"])

0       1
1       1
2       1
3       1
4       1
       ..
2014    1
2015    1
2016    1
2017    0
2018    1
Name: accommodates, Length: 2019, dtype: int64

In [32]:
int_col = [
    "accommodates",
    "bathrooms",
    "bedrooms",
    "num_beds",
]

In [33]:
df_airbnb[int_col] = df_airbnb[int_col].fillna(0).astype(int)

In [34]:
df_airbnb

,listing_id,name,price,latitude,longitude,accommodates,bathrooms,bedrooms,num_beds,rating_accuracy,rating_cleanliness,rating_communication,rating_location,rating_value,review_score_average,price_per_person,amenities_count
0,281552,Harvard Sq Large 1BR overlooks park,175,42.377119,-71.120112,3,1,1,2,5.0,4.5,4.5,5.0,5.0,4.800000,58.333333,9
1,182613,Luxury 2BR condo Charlestown Boston,249,42.377387,-71.060435,8,1,2,3,5.0,5.0,5.0,4.0,4.5,4.700000,31.125000,11
2,1587540,Cozy House on Bunker Hill in Boston,225,42.378898,-71.061182,4,1,3,3,5.0,5.0,5.0,5.0,5.0,5.000000,56.250000,8
3,469506,"Luxury 1bd, Safe/Central Brookline",140,42.338848,-71.135475,2,1,1,1,5.0,5.0,4.5,4.5,4.5,4.700000,70.000000,12
4,3937268,Boston bedroom & private bathroom,99,42.343206,-71.119955,2,1,1,1,4.5,5.0,5.0,5.0,5.0,4.900000,49.500000,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014,3655519,Bright 2BR apartment in JP,150,42.317354,-71.110006,4,1,2,3,NaN,NaN,NaN,NaN,NaN,4.694469,37.500000,13
2015,3167027,Roslindale Village,40,42.285124,-71.118640,2,1,1,1,5.0,5.0,5.0,4.0,5.0,4.800000,20.000000,8
2016,2842124,Charming 1-bedroom in the North End,200,42.363782,-71.055643,3,1,1,2,4.5,4.5,5.0,5.0,4.5,4.700000,66.666667,9
2017,3003335,Cozy 1st floor room near laundry,100,42.360982,-71.064038,1,0,1,1,4.5,4.5,5.0,5.0,4.5,4.700000,100.000000,8
2018,2935171,Furnished double room wit 2 beds.,125,42.311369,-71.049060,3,1,1,2,5.0,5.0,5.0,4.5,5.0,4.900000,41.666667,12

In [35]:
df_airbnb_reduced = df_airbnb.drop(columns=["rating_accuracy", "rating_cleanliness", "rating_communication", "rating_location", "rating_value"])

In [36]:
df_airbnb_reduced.describe()

,listing_id,price,latitude,longitude,accommodates,bathrooms,bedrooms,num_beds,review_score_average,price_per_person,amenities_count
count,2.019000e+03,2019.000000,2019.000000,2019.000000,2019.000000,2019.000000,2019.000000,2019.000000,2019.000000,2019.000000,2019.000000
mean,2.567601e+06,140.734027,42.365811,-71.108438,2.784547,1.114413,1.245666,1.519069,4.694469,56.001037,10.762259
std,1.446989e+06,111.560621,0.027152,0.036493,1.641158,0.485963,0.695501,0.934955,0.218460,51.963563,3.826249
min,2.751000e+03,10.000000,42.243495,-71.355964,1.000000,0.000000,0.000000,0.000000,3.400000,2.500000,0.000000
25%,1.307146e+06,75.000000,42.350188,-71.125436,2.000000,1.000000,1.000000,1.000000,4.694469,35.250000,8.000000
50%,2.737083e+06,110.000000,42.367841,-71.107905,2.000000,1.000000,1.000000,1.000000,4.694469,48.000000,11.000000
75%,3.909752e+06,175.000000,42.381364,-71.089378,4.000000,1.000000,1.000000,2.000000,4.800000,65.500000,13.000000
max,4.637854e+06,2000.000000,42.486433,-70.967355,12.000000,6.000000,6.000000,9.000000,5.000000,1000.000000,23.000000